.mydiv{
  background-color:#f8f9fa;
  height: 100vh;
}
.v-kh-f{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.v-kh-f:hover{
  cursor:pointer;
}
.head-btn{
 text-align:center;
 padding: 7px;
}
.foot-container{
  text-align:end;
  padding-top: 7px;
  padding-bottom: 15px;
}
.head-info{
 text-align:end;
 padding:7px;
}
.info-text{
  text-align:end;
  padding:7px;
}
.input{
 border:none;
 overflow:hidden;
}
.button{
  overflow:hidden;
}
.arrow-icon:hover{
 cursor: pointer;
}
.enter-info-header-text{
  font-size: 12px;
}